body{
    background: #eff4f4;
    background: #e7f1f1;
    background: #fff;
    /*background: #00ffff;*/
}
#header-wrapper{}
p,
div,
span{
    color:#192525;
    line-height: 1.4em;
    margin:10px 0px;
}

#guest-content{
    text-align: center;
}

#welcome-text{
    line-height: 1.1em !important;
    font-size:101px;
    margin:0px;
    font-family: roboto-bold !important;
}

#welcome-text span{
    font-size:47px;
    display: block;
    margin:0px;
    font-family: roboto-slab !important;
}

.open-text{
    line-height: 1.5em;
    margin:10px auto 30px;
}

.logo{
    float:left;
    color:#000;
    display:block;
    font-size: 29px;
    text-decoration: none;
    line-height:1.0em;
    font-family: roboto !important;
}
.logo:hover{color:#000}
.tagline{
    font-size:16px;
    font-family: roboto-light !important;
}
#welcome{
    display:block;
    margin-bottom:20px;
}
#navigation{
    float:right;
    text-align: right;
}
#navigation a{
    margin-left:10px;
}
label{
    display:block;
    margin:10px 0px 0px;
}

#content-wrapper{
    margin-top:30px;
}

#project-page-actions{
    margin-top:100px;
    text-align: right;
}

#footer-wrapper{
    margin-top:30px;
    text-align: right;
}

.zero{
    margin:0 !important;
    padding:0;
}

.gain{
    color:#f540a6;
    color:#6C169B;
    color:#52B852;
    color:#000;
    font-family: roboto-black !important;
}

table{
    width:100%;
}
table td{
    font-size:27px;
    font-family:roboto-slab !important;
}
table tr:hover{
    background:#eff4f4;
}

.right{
    text-align: right;
}

@media screen and (max-width: 690px) {
    #outer-wrapper{
        width:calc(100% - 40px);
        padding:20px;
    }
}